body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow: hidden;
  }
  .box {
    width: 300px;
    height: 500px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #47e947;
    margin: auto;
    margin-top: 7%;
  }

  @media only screen and (max-width: 768px){
    .box{
        width: 70%;
    }
  }

  h2{
    text-align: center;
    margin-top: 7%;
  }

  .box form{
    margin-top: 30%;
  }
  
  .box h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .box div {
    margin-bottom: 15px;
  }
  
  .box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .box input[type="text"],
  .box input[type="email"] {
    width: calc(100% - 10px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .box input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(70, 219, 70);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .box input[type="submit"]:hover {
    background-color: green;
  }
  
  .binary {
    position: absolute;
    color: #0F0; /* Cor verde */
    font-family: monospace;
    pointer-events: none;
  }

  @keyframes fall {
    0% {
      transform: translateY(-10vh) rotateZ(0deg);
    }
    100% {
      transform: translateY(100vh) rotateZ(360deg);
    }
  }

  @media screen and (max-width: 768px) {
    body {
      overflow: visible; /* Removendo o overflow para dispositivos móveis */
    }
  
    .binary-rain {
      position: fixed;
    }
  }